{
  "packages": [
    {
      "name": "NAME_HERE",
      "decks": [
        {
          "id": "ID_HERE",
          "name": "DESCRIPTION_HERE",
          "src": [
            {
              "type": "markdown",
              "file": "NAME_HERE.cards",
              "show_tags": true,
              "card_properties": {
                "tags": [
                  "NAME_HERE"
                ]
              }
            }
          ]
        }
      ]
    }
  ]
}
